{% extends 'base.html' %}
{% block content %}

<h1>About me</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam at, facilis temporibus labore cumque eum libero quo
    animi veritatis, nulla inventore dicta commodi ab quod. Commodi quia consectetur modi non.</p>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam at, facilis temporibus labore cumque eum libero quo
    animi veritatis, nulla inventore dicta commodi ab quod. Commodi quia consectetur modi non.</p>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam at, facilis temporibus labore cumque eum libero quo
    animi veritatis, nulla inventore dicta commodi ab quod. Commodi quia consectetur modi non.</p>
{% endblock content %}